.event {
    /*margin-top: 3em;*/
}

.event article {
    margin: 2em auto;
    transition: all 300ms ease;
    overflow: hidden;
}
.event article:hover {
    cursor: pointer;
}
.event article:hover .event__img {
    transform: scale(1.03);
}
.event article:hover a {
    color: var(--color-primary-light);
}
.event__article {
    padding: calc(50em/16);
    background-color: #eee;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
}
.event article:last-of-type {
    margin-bottom: 5em;
}
.event__article__date {
    font-size: calc(35em/16);
    color: var(--color-primary);
}
.event__article h2 {
    font-size: calc(23em/16);
}
.event article:nth-child(odd) .event__article {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.event article:nth-child(even) .event__article{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.event__article--no-thumbnail {
    border-radius: 1em!important;
}
.event article:nth-child(even) .event__img{
    order: 1;
}
.event article:nth-child(even) .event__article{
    order: 2;
}
@media screen and (max-width: 767px) {
    .event__article {
        padding: calc(20em/16);
    }
    .event__article__text {
        line-height: 1.4;
        margin-bottom: calc(15em/16);
    }
    .event article:nth-child(odd) .event__img{
        order: 1;
    }
    .event article:nth-child(odd) .event__article{
        order: 2;
    }
    .event article .event__article{
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 1em;
        border-top-right-radius: 0!important;
        border-bottom-right-radius: 1em;
    }
}
.event__img {
    width: 100%;
    min-height: calc(300em/16);
    display: flex;
    position: relative;
    overflow: hidden;
    transition: all 300ms ease;
}

.event__img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    min-width: 100%;
    max-width: none; /* fix*/
    object-fit: cover
}


blockquote {
    position: relative;
    margin: calc(50em/16) auto;
}

blockquote p {
    position: relative;
    line-height: 1.3;
    margin: 0;
    font-family: var(--text-secondary);
    border: 2px solid var(--color-primary);
    border-radius: calc(20em/16);
    padding: calc(25em/16);
}

blockquote p:after {
    content:"";
    position: absolute;
    border: 2px solid var(--color-primary);
    border-bottom: none;
    border-left: none;
    border-radius: 0 calc(50em/16) 0 0;
    width: calc(60em/16);
    height: calc(60em/16);
    bottom: calc(-60em/16);
    left: calc(50em/16);
    z-index: 3;
}

blockquote p:before {
    content:"";
    position: absolute;
    width: calc(80em/16);
    border: 6px solid #fff;
    bottom: -3px;
    left:calc(50em/16);
    z-index: 2;
}

blockquote h4 {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4;
    min-height: 60px;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left: calc(150em/16);
    padding-left: calc(17em/16);
    color: #000e14;
}


blockquote h4:first-letter {
    margin-left: calc(-17em/16);
}