.footer {
    background-color: var(--color-primary-light);
    padding: 2em 0;
}
.footer p {
    font-size: calc(16em/16);
    margin-bottom: 0;
    display: inline-block;
}

.footer .first-line {
    display: block;
}

.footer-menu{
    padding: 0;
}