.footer {
    background-color: var(--color-grey);
    padding: 2em 0;
}
.footer--home {
    background-color: #2b2b24;
    color: #fff;
}
.footer--home p, .footer--home a {
    color: #fff;
}
.footer--home a:hover {
    color: #fff;
    text-shadow: 0 0 calc(5em / 16) #fff;
}
.footer p {
    font-size: calc(16em/16);
    margin-bottom: 0;
    display: inline-block;
}

.footer .first-line {
    display: block;
}

.footer-menu{
    padding: 0;
}
.footer__logo:not(:last-child) {
    padding-bottom: calc(15em/16);
}
.footer__logo img {
    width: calc(60em/16);
    max-width: 100%;
}
.align-items-end {
    align-items: flex-end;
}

@media screen and (max-width: 35.99rem) {
    .footer__logo {
        display: inline-block;
    }
    .footer__logo:not(:last-child) {
        padding-bottom: 0;
        padding-right: calc(20em/16);
    }
}