header {
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 5;
}
@media screen and (max-width: 991px) {
    header {
        position: relative;
        background: none;
    }
}
.home header {
    position: relative;
    background: none;
}
@media screen and (max-width: 575px) {
    .row--header {
        margin-left: calc(-50em/16);
        margin-right: calc(-50em/16);
    }
}
header .logo {
    display: block;
    padding: calc(20em/16) calc(64em/16) calc(14em/16);
}
.logo img {
    max-width: calc(265em/16);
}
@media screen and (max-width: 767px) {
    .logo img {
        max-width: calc(160em/16);
        width: 100%;
    }
}

@media screen and (min-width: 1071px) {
    .no-container-md {
        max-width: none!important;
        margin: 0 auto!important;
        padding: 0!important;
    }
}

@media screen and (max-width: 1070px) {
    header .logo {
        padding: calc(16em/16) 0;
    }
    @media screen and (min-width: 992px) {
        header .logo {
            padding-left: calc(10em/16);
        }
    }
}