header .logo {
    display: block;
    padding: calc(16em/16) calc(64em/16);
}
.logo img {
    max-width: 265px;
}
@media screen and (max-width: 767px) {
    .logo img {
        max-width: 55%;
    }
}

@media screen and (min-width: 1071px) {
    .no-container-md {
        max-width: none!important;
        margin: 0 auto!important;
        padding: 0!important;
    }
}

@media screen and (max-width: 1070px) {
    header .logo {
        padding: calc(16em/16) 0;
    }
}