body.home {
    position: relative;
}
body.home main {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
}

.homescreen {
    background: url("../img/bg-glasses.jpg") no-repeat;
    background-position: center center!important;
    background-size: cover!important;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.homescreen:before {
    position: absolute;
    background: #000;
    content: "";
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: .85;
    z-index: -3;
}

.homescreen-slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: var(--text-secondary);
    font-size: calc(65em/16);
    text-align: center;
    color: #fff;
    z-index: 5;
    line-height: 1.2;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.homescreen-slogan__inner {
    transform: translateZ(20px);
}

.homescreen__circle {
    position: absolute;
    width: 35vw;
    height: 35vw;
    max-width: calc(400rem/16);
    max-height: calc(400rem/16);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    tranisiton: all 100ms ease;
}

.home-topic {
    position: relative;
    height: 100vh;
}
.home-topic:hover {
    cursor: pointer;
}
.home-topic:hover .home-topic__title {
    transform: translateX(-50%) scale(1.15);
}

.home-topic__title {
    font-family: var(--text-secondary);
    font-size: calc(28em/16);
    color: #fff;
    text-align: center;
    margin-top: calc(10em/16);
    transition: all 300ms ease;
    z-index: 5;
    position: absolute;
    bottom: 13vh;
    left: 50%;
    width: 125%;
    transform: translateX(-50%);
}

.home-topic--right .home-topic__title {
    margin-top: 0;
    top: 4vh;
    bottom: unset;
    /*margin-bottom: calc(15em/16);*/
}
.home-topic--right {
    /*margin-top: calc(-55em/16);*/
}
.home-topic__title a {
    color: #fff;
}
.home-topic__title a:hover {
    color: #fff;
    text-decoration: none;
}
/*
.home-topic:after {
    position: absolute;
    content: "";
    top: -100%;
    left: 5vh;
    right: 5vh;
    bottom: calc(90em/16);
    background: #AF3700;
    opacity: .8;
    z-index: -1;
}*/
.home-topic--right:after {
    bottom: -100%;
    top: calc(100em/16);
}
.home-topic__img {
    position: relative;
    transition: all 500ms ease-in-out;
    width: 100%;
    height: calc(550em/16);
    max-height: 65vh;
    opacity: .65;
    overflow: hidden;
}
.home-topic__img.goaway {
    opacity: 0;
    transform: translateY(150vh);
}
.home-topic--right .home-topic__img.goaway {
    transform: translateY(-150vh);
}
.home-topic__img.start {
    opacity: 0;
    transform: translateY(-150vh);
}
.home-topic--right .home-topic__img.start {
    transform: translateY(100vh);
}
.home-topic__img img:not(:first-of-type) {
    opacity: 0;
}
.home-topic__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: none;
    transition: all 300ms ease;
}

.red-ribbon {
    position: relative;
    width: 100%;
    background: #AF3700;
    height: 250%;
    transform: translateY(-181vh);
    transition: transform 500ms ease-in-out;
}
.red-ribbon--right {
    transform: translateY(21vh);
}
.red-ribbon__content {
    opacity: .7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: calc(-30em/16);
    bottom: calc(-30em/16);
    right: calc(-30em/16);
    left: calc(-30em/16);
}
.red-ribbon__img {
    width: 100%;
    height: 60vh;
    max-height: calc(400em/16);
    position: relative;
    overflow: hidden;
}
.red-ribbon__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: none;
    min-width:100%;
    min-height:100%;
    height:auto;
}