body.home {
    position: relative;
}
body.home main {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.homescreen {
    background: url("../img/bg-glasses.jpg") no-repeat;
    background-position: center center!important;
    background-size: cover!important;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.homescreen:before {
    position: absolute;
    background: #000;
    content: "";
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: .85;
    z-index: -3;
}

.homescreen-slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: var(--text-secondary);
    font-size: calc(55em/16);
    text-align: center;
    color: #fff;
    z-index: 5;
    line-height: 1.15;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.homescreen-slogan__inner {
    transform: translateZ(20px);
    margin-top: -5px;
    display: inline-block;
}
.js-slogan.in {
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.js-slogan.out {
    animation: text-blur 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-blur {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}



@media screen and (max-width: 1199px) {
    .homescreen-slogan {
        font-size: 5.5vw;
    }
}
@media screen and (max-width: 575px) {
    .homescreen-slogan {
        font-size: calc(30em/16);
    }
}

.homescreen__circle {
    position: absolute;
    width: 35vw;
    height: 35vw;
    min-width: calc(190rem/16);
    min-height: calc(190rem/16);
    max-width: calc(400rem/16);
    max-height: calc(400rem/16);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 100ms ease;
    pointer-events: none;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.homescreen__circle.rotate svg {
    animation: rotate-scale 2s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite forwards;
}

@keyframes rotate-scale {
    0% {
        transform: scale(1) rotateY(0);
    }
    50% {
        transform: scale(1.25) rotateY(180deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}

.home-topic {
    position: relative;
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
}
.home-topic:hover {
    cursor: pointer;
}
.home-topic:hover .home-topic__title {
    transform: translateX(-50%) scale(1.15);
}

.home-topic__title {
    font-family: var(--text-secondary);
    font-size: calc(28em/16);
    color: #fff;
    text-align: center;
    margin-top: calc(15em/16);
    transition: all 300ms ease;
    z-index: 5;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 125%;
    transform: translateX(-50%);
}

.home-topic--right .home-topic__title {
    margin-top: 0;
    top: calc(-35em/16);
}
.home-topic__title a {
    color: #fff;
}
.home-topic__title a:hover {
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 575px) {
    .home-topic__title {
        font-size: calc(15em/16);
        text-align: right;
        transform: none;
        top: 95%;
        right: 0;
        left: unset;
        padding-left: 20vw;
    }
    .home-topic--right .home-topic__title {
        text-align: left;
        left: 0;
        right: unset;
        padding-left: 0;
        padding-right: 20vw;
    }
    .home-topic:hover .home-topic__title {
        transform: none;
    }
}
/*
.home-topic:after {
    position: absolute;
    content: "";
    top: -100%;
    left: 5vh;
    right: 5vh;
    bottom: calc(90em/16);
    background: #AF3700;
    opacity: .8;
    z-index: -1;
}*/
.home-topic--right:after {
    bottom: -100%;
    top: calc(100em/16);
}
.home-topic__img {
    position: relative;
    transition: all 500ms ease-in-out;
    width: 100%;
    height: calc(550em/16);
    max-height: 65vh;
    opacity: .65;
    overflow: hidden;
}
.home-topic__img.goaway {
    opacity: 0;
    transform: translateY(150vh);
}
.home-topic--right .home-topic__img.goaway {
    transform: translateY(-150vh);
}
.home-topic__img.start {
    opacity: 0;
    transform: translateY(-150vh);
}
.home-topic--right .home-topic__img.start {
    transform: translateY(100vh);
}
.home-topic__img img:not(:first-of-type) {
    opacity: 0;
}
.home-topic__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: none;
    transition: all 300ms ease;
}

.red-ribbon {
    position: absolute;
    bottom: calc(30em/16);
    width: 100%;
    background: #AF3700;
    height: calc(220vh + calc(30em/16));
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
}
.red-ribbon--right {
    top: calc(30em/16);
    bottom: unset;
}
.red-ribbon__content {
    opacity: .5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: calc(-30em/16);
    bottom: calc(-30em/16);
    right: calc(-30em/16);
    left: calc(-30em/16);
}
.red-ribbon__img {
    width: 100%;
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
    max-height: 60vh;
    position: relative;
    overflow: hidden;
}
.red-ribbon__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: none;
    min-width:100%;
    min-height:100%;
    height:auto;
}
@media screen and (max-width: 575px) {
    .red-ribbon__content {
        right: calc(-15em/16);
        left: calc(-15em/16);
        top: calc(-15em/16);
        bottom: calc(-15em/16);
    }
    .red-ribbon__img img {
        width: auto;
        height: 100%;
    }
}

.homescreen-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000e14;
    opacity: .9;
    z-index: 2;
}