@import "./variables.css";
@import "./bootstrap-4.3.1.min.css";
@import "./cookie.css";
@import "./header.css";
@import "./footer.css";
@import "./home.css";
@import "./topic.css";
@import "./event.css";
@import "./nav.css";
@import "./form.css";
@import "./animate.min.css";
@import "./first-timeline.min.css";
@import "./timeline.css";


/* FONTS */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Lato-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Lato-Bold.woff2) format('woff2');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/PlayfairDisplay-Regular.woff2) format('woff2');
}

/* STYLES */
body {
    font-family: var(--text-primary);
    color: var(--color-default);
    overflow-x: hidden;
    min-height: 100vh;
    background: none!important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    color: var(--color-primary);
    font-size: 1.8em;
    font-weight: 200;
}
p {
    font-size: 1.2em;
}
img {
    max-width: 100%;
}
.full-img img {
    width: 100%;
}
b, strong {
    font-weight: 700;
}

a {
    color: var(--color-default);
    font-weight: bold;
}
a:hover {
    color: var(--color-default);
}

/*placeholder - remove later */
.spacer {
    height: 55vh;
}