audio, video {
    width: 100%;
}

.audioo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.audioo span {
    cursor: default;
}

.audio__player {
    width: 100%;
    min-width: calc(300em/16);
    height: calc(56em/16);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(25em/16);
    padding-right: calc(25em/16);
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
}
.audio__player__btn {
    display: none;
    cursor: pointer;
}
.audio__player__spinner {
    width: calc(18em/16);
    height: calc(18em/16);
    background-image: url("../img/loading.png");
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
}
.controls__slider, .volume-controls__slider {
    flex-grow: 1;
    background-color: #d8d8d8;
    cursor: pointer;
    position: relative;
}
.controls__progress, .volume-controls__progress {
    background-color: var(--color-primary);
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}
.controls__progress .pin, .volume-controls__progress .pin {
    height: calc(16em/16);
    width: calc(16em/16);
    border-radius: 8px;
    background-color: var(--color-primary);
    position: absolute;
    pointer-events: all;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.32);
}
.controls {
    font-family: var(--text-primary);
    font-size: calc(16em / 16);
    line-height: calc(18em / 16);
    color: #55606E;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(25em/16);
    margin-right: calc(25em/16);
}
.controls__slider {
    margin-left: calc(15em/16);
    margin-right: calc(15em/16);
    border-radius: 2px;
    height: calc(4em / 16);
}
.controls__progress {
    width: 0;
    height: 100%;
}
.controls__progress .pin {
    right: calc(-8em/16);
    top: calc(-6em/16);
}
.volume {
    position: relative;
}
@media screen and (max-width: 767px) {
    .volume {
        display: none;
    }
}
.volume-btn {
    cursor: pointer;
}
.volume-btn.open path {
    fill: var(--color-primary);
}
.volume-controls {
    width: calc(30em/16);
    height: calc(135em/16);
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 7px;
    position: absolute;
    left: calc(-3em/16);
    bottom: calc(52em/16);
    flex-direction: column;
    align-items: center;
    display: flex;
}
.volume-controls.hidden {
     display: none;
}
.volume-controls__slider {
    margin-top: calc(12em/16);
    margin-bottom: calc(12em/16);
    width: calc(6em/16);
    border-radius: 3px;
}
.volume-controls__progress {
    bottom: 0;
    height: 100%;
    width: calc(6em/16);
}
.volume-controls__progress .pin {
    left: calc(-5em/16);
    top: calc(-8em/16);
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(1turn);
    }
}

audio {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
}
audio:focus {
    outline-color: var(--color-primary);
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0;
    background: #fff;
}

.source {
    text-align: left;
    opacity: .7;
    font-size: calc(12em/16);
    width: 100%;
    margin-top: calc(10em/16);
    background: #fff;
    position: relative;
    z-index: 2;
}
.source p {
    opacity: .7;
    font-size: calc(12em/16);
    width: 100%;
}

.full-img > a:hover {
    text-decoration: none;
}

.full-img figure {
    margin-bottom: 0;
}

.img-transcript figcaption {
    background: none;
}

.full-img .source {
    padding-bottom: calc(20em/16);
}

.img-transcript .source {
    background: none;
}

.full-img img {
    transform: scale(1);
    transition: transform 300ms ease;
    max-width: 100%;
    max-height: 90vh;
    z-index: 1;
    position: relative;
    margin: calc(15em/16) auto calc(5em/16);
}

.full-img img:hover {
    cursor: pointer;
}

figcaption, .tbl-caption {
    text-align: left;
    padding-top: calc(10em/16);
    font-weight: bold;
    margin-bottom: calc(-5em/16);
    background: #fff;
    position: relative;
    z-index: 2;
}

figcaption {
    line-height: 1.3;
    margin-bottom: calc(-5em/16);
}

.tbl-caption {
    line-height: 1.3;
    padding-left: 0;
}

.img-transcript .full-img {
    border: 0;
    border-radius: 0!important;
    height: 100%;
}

.img-transcript .full-img img {
    margin: 0 auto;
}

.img-transcript__text p {
    line-height: 1.6;
}

.img-transcript__text p:not(:last-child) {
    margin-bottom: calc(20em/16);
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

@media screen and (max-width: 991px) {
    table {
        width: auto;
    }
}
.table thead{
    background: #fff;
}
.table {
    max-height: calc(300em/16);
    overflow-x:auto;
}
.table .tbl-content{
    margin-top: 0;
    border: none;
}
.table thead th {
    position: sticky;
    background: #fff;
    top: 0;
    text-align: center;
    background-clip: padding-box;
}

.table thead th:before{
    content:'';
    position:absolute;
    left: 0;
    display: block;
    top: 0;
    width:100%;
    border-top: 1px solid var(--color-primary);
}

.table thead th:after{
    content:'';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    border-bottom: 2px solid var(--color-primary);
}

.table th{
    padding: calc(15em/16);
    text-align: left;
    font-size: calc(14em/16);
    text-transform: uppercase;
    border-top: 0!important;
    border-bottom: 0!important;
}
.table td{
    padding: calc(10em/16) calc(15em/16);
    vertical-align:middle;
    font-size: calc(12em/16);
    border-top: none;
    border-bottom: solid 1px #dee2e6;
}
.table tr td:not(:first-child) {
    text-align: center;
}
.table tr:last-child td{
    border-bottom: 2px solid var(--color-primary)!important;
}

/* for custom scrollbar for webkit browser*/
.table-outer ::-webkit-scrollbar {
    width: 6px;
}
.table-outer ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.table-outer ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}