.topic__intro {
    position: relative;
    padding: 11rem 0 3rem;

}
.topic__img-holder {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: calc(500rem/16);
    z-index: -1;
    transition: all 300ms ease;
}

@media screen and (max-width: 767px) {
    .topic__img-holder {
        max-height: calc(200rem / 16);
    }
}

.topic__img-holder img {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none;
}
.topic__img-holder:before {
    content: "";
    position: absolute;
    background: rgba(255,255,255,0.75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.topic__img-holder:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 1));
}

@media screen and (max-width: 991px) {
    .topic__intro {
        padding: 3rem 0;
    }
}
@media screen and (max-width: 767px) {
    .topic__intro {
        padding: 1.5rem 0;
    }
}

.btn {
    background-color: var(--color-default);
    color: #fff;
    border-radius: .8em;
    font-size: 1.1em;
    padding: .7em 6em;
    border: 1px solid var(--color-default);
    transition: all 300ms ease;
}

@media screen and (max-width: 767px) {
    .btn {
        padding: calc(10em/16) calc(5em/16);
    }
}

.btn:hover {
    background: #fff;
    color: var(--color-default);
    border-color: var(--color-primary);
    font-weight: bold;
}

.btn:disabled:hover {
    font-weight: normal;
    border-color: var(--color-default);
}

#btnContactUs.btn:not(:disabled) {
    background-color: var(--color-default)!important;
    color: #fff!important;
}
#btnContactUs.btn:not(:disabled):hover {
    background-color: #fff!important;
    color: var(--color-default)!important;
}

.btn--light {
    background-color: #fff;
    color: var(--color-default);
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(175,56,2,.25);
}

.topic__linkbox {
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    position: relative;
    min-height: calc(100em/16);
    width: 100%;
    margin: 30px 0 0;
    padding: 20px;
}

.topic__linkbox .topic__linkbox__links .topic__linkbox__link:last-child {
    margin-bottom: 0;
}

.topic__linkbox__img img {
    width: 50px;
    max-width: 100%;
}

.topic__linkbox__link {
    opacity: .6;
    transition: opacity 300ms ease;
}

.topic__linkbox__link:hover {
    opacity: 1;
}

.topic__linkbox__links a {
    font-weight: normal;
    font-size: calc(13em/16);
    line-height: 1.4;
    display: block;
}

.topic__linkbox__links strong {
    font-size: calc(14em/16);
    display: block;
    text-decoration: none!important;
}

.topic__linkbox__links a:hover strong {
    text-decoration: none!important;
}

.topic__author {
    opacity: .6;
    margin: calc(-10em/16) 0 calc(30em/16);
    font-weight: bold;
    font-size: calc(13em/16);
}