:root {
    --color-primary: #AF3802;
    --color-primary-light: #F5F5F5;
    --color-default: #353531;
    --color-secondary: #000;
    --text-primary: 'Lato', sans-serif;
    --text-secondary: 'Playfair Display', sans-serif;
}